* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Barlow', sans-serif;
}

img {
    max-width: 100%;
    display: block;
}

.yellow {
    border: 2px solid yellow;
}

.red {
    border: 2px solid red;
}

.container {
    width: 90%;
    margin: 0 auto;
}

header {
    background-image: url("../images/header-img.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 100px;
    color: white;
}

header .container nav {
    display: flex;
    justify-content: flex-end;
    padding-top: 32px;
}

header .container nav ul {
    display: none;
}

header .container nav .menu-icon {
    display: block;
    cursor: pointer;
}

.header-main-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 60px;
}

.header-main-flex h1 {
    font-weight: 400;
    font-style: Regular;
    letter-spacing: 0%;
    text-align: center;
    font-size: 42px;
    line-height: 1.2;
    margin-bottom: 16px;
    max-width: 100%;
}

.header-main-flex p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 28px;
    max-width: 100%;
}

.header-main-flex .btns {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    max-width: 300px;
}

.header-main-flex .btns button {
    width: 100%;
    height: 54px;
    border: 2px solid white;
    font-size: 16px;
    color: white;
    cursor: pointer;
}

.header-main-flex .btns button:first-child {
    background-color: #FF4D01;
    border-color: #FF4D01;
}

.header-main-flex .btns button:last-child {
    background-color: transparent;
}

.hero .container {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.hero .container img {
    width: 100%;
    max-width: 350px;
    height: auto;
    margin-bottom: 40px;
}

.hero .container .content h3 {
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    color: #FF4D01;
    font-family: Barlow;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    line-height: 22px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
}

.hero .container .content h1 {
    font-size: 36px;
    line-height: 1.2;
    width: 100%;
    color: #191919;
    margin-top: 8px;
    font-family: Barlow;
    font-weight: 400;
    font-style: Regular;
    font-size: 54px;
    line-height: 61.99px;
    letter-spacing: 0%;

}

.hero .container .content .content-p {
    font-size: 16px;
    line-height: 1.5;
    color: #605E5D;
    height: auto;
    margin-top: 16px;
    font-family: Barlow;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 30.01px;
    letter-spacing: 0%;

}

.hero .container .content .projects {
    margin-top: 30px;
    margin-bottom: 30px;
}

.hero .container .content .projects ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.hero .container .content .projects ul p {
    font-family: Barlow;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
    color: #989899;
}

.hero .container .content .projects ul span,
.hero .container .content .projects ul li {
    font-size: 48px;
    line-height: 1.1;
}

.hero .container .content .projects ul span {
    color: #FF4D01;
}

.hero .container .content .projects ul li {
    color: #191919;
    font-family: Barlow;
    font-weight: 400;
    font-style: Regular;
    font-size: 72px;
    line-height: 84.02px;
    letter-spacing: 0%;
    text-align: center;

}

.hero .container .content button {
    width: 100%;
    max-width: 240px;
    height: 65px;
    border: 2px solid #191919;
    font-size: 18px;
    color: #191919;
    cursor: pointer;
    background-color: transparent;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 720px;
    }

    .header-main-flex h1 {
        font-size: 60px;
        max-width: 660px;
    }

    .header-main-flex p {
        font-size: 18px;
        max-width: 640px;
    }

    .header-main-flex .btns {
        flex-direction: row;
        gap: 32px;
        width: auto;
    }

    .header-main-flex .btns button {
        width: 129px;
    }

    .hero .container .content h1 {
        font-size: 48px;
    }

    .hero .container .content .projects ul {
        flex-direction: row;
        justify-content: center;
        gap: 60px;
    }
}

@media screen and (min-width: 1024px) {
    .container {
        max-width: 1280px;
        width: 80%;
    }

    header {
        padding-bottom: 252px;
    }

    header .container nav .menu-icon {
        display: none;
    }

    header .container nav ul {
        display: flex;
        gap: 32px;
        align-items: center;
    }

    header .container nav ul li {
        font-size: 18px;
        line-height: 30.01px;
        cursor: pointer;
    }

    header .container nav ul button {
        background-color: #FF4D01;
        border: none;
        width: 129px;
        height: 54px;
        font-size: 16px;
        color: white;
    }

    .header-main-flex h1 {
        font-size: 72px;
        line-height: 84.02px;
    }

    .hero .container {
        margin-top: 100px;
        flex-direction: row;
        align-items: flex-start;
        text-align: left;
    }

    .hero .container img {
        width: 440px;
        height: 650px;
        max-width: none;
        margin-bottom: 0;
    }

    .hero .container .content {
        margin-top: 40px;
        margin-left: 60px;
    }

    .hero .container .content h3 {
        font-size: 20px;
    }

    .hero .container .content h1 {
        font-size: 54px;
        line-height: 61.99px;
        width: 522px;
    }

    .hero .container .content .content-p {
        font-size: 18px;
        line-height: 26.01px;
        height: 121px;
    }

    .hero .container .content .projects {
        margin-top: 7px;
        margin-bottom: 20px;
    }

    .hero .container .content .projects ul {
        justify-content: flex-start;
        gap: 86px;
    }

    .hero .container .content .projects ul span,
    .hero .container .content .projects ul li {
        font-size: 72px;
        line-height: 84.02px;
    }

    .hero .container .content button {
        width: 237px;
        height: 75px;
    }
}

.services .container {
    width: 90%;
    margin: 200px auto 0;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.services .container h3 {
    font-family: Barlow, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 22px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    color: #FF4D01;
    align-self: flex-start;
}

.services .container .btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.services .container .btns .btns2 {
    display: flex;
    gap: 28px;
}

.services .container .btns .btns2 .get {
    background-color: #FF4D01;
    border: none;
    width: 129px;
    height: 54px;
    font-family: Barlow, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
}

.services .container .btns button {
    border: 2px solid #191919;
    width: 200px;
    height: 54px;
    background-color: transparent;
    font-family: Barlow, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
    color: #191919;
    cursor: pointer;
}

.services .container .cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.services .container .cards .card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
}

.services .container .cards .card img {
    width: 70px;
    height: 68px;
    margin-bottom: 15px;
}

.services .container .cards .card h4 {
    margin: 0 0 14px 0;
    font-family: Barlow, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 34px;
    line-height: 48.01px;
    letter-spacing: 0%;
    color: #191919;
}

.services .container .cards .card p {
    margin: 0 0 13px 0;
    font-family: Barlow, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 25.01px;
    letter-spacing: 0%;
    color: #605E5D;
}

.services .container .cards .card .learn {
    display: flex;
    align-items: center;
    gap: 10px;
}

.services .container .cards .card .learn div {
    width: 30px;
    height: 30px;
    background-color: #000000;
}

.services .container .cards .card .learn p {
    margin: 0;
    font-family: Barlow, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0%;
    color: #191919;
}

@media screen and (min-width: 768px) {
    .services .container {
        gap: 40px;
    }
    .services .container .cards {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .services .container .cards .card {
        width: calc(50% - 10px);
    }
}

@media screen and (min-width: 1024px) {
    .services .container .cards .card {
        width: calc((100% / 3) - 13.33px);
    }
}

